<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{{currency.name}} Details</title>
     <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
     
</head>
 
<body>
    <div class="container">
        <div>
            <h1>{{currency.name}} Details</h1>
            
            <ul>
                <li>Open: {{currency.cr_open}}</li>
                <li>Close: {{currency.cr_close}}</li>
                <li>High: {{currency.cr_high}}</li>
                <li>Low: {{currency.cr_low}}</li>
            </ul>
        </div>

        
        <div>
        <form>
        <button id="btn_graph" type="button">Graph</button>
        <button id="btn_history" type="button">History</button>
        <button id="btn_news" type="submit" value="{{currency.asset_id}}">News</button>
        <button id="btn_market" type="submit" value="{{currency.asset_id}}" >market</button>
        <button id="btn_prediction" type="submit" value="{{currency.asset_id}}">Prediction</button>
        <button id="btn_calculate" type="button">Calculate</button>
        </form>
        </div>
        
        <div>
            <div id="div_history"> </div>
            <div id="div_news" ></div>
                <ul id="ul_news">
<!--
                    <li>
                        <img src="" style="width: 50px; height: 50px">
                        <title href=""></title>
                        <p></p>
                    </li>
-->
            </ul>
            <div id="div_market"></div>
            <div id="prediction"></div>
            <div id="div_calculator"></div>
        </div>
    </div>
    
    <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery-3.3.1.js') }}">\x3C/script>')</script>
    <script>

     $(document).ready(function () {
         console.log("in document.ready")
    getNews();
         getmarketDetails();
         getMultipleSymbolPrice();
          getPrediction();
    });

      //News
  function getNews(){
      $.getJSON($SCRIPT_ROOT + '/news', {
        asset_id: $('#btn_news').val()
      }, function(data) {
           if( data[0].status =="success"){
               if(data[1].status=="ok"){
//                   articles = JSON.parse(data[1].articles)
//                   console.log(typeof(articles))
//                   console.log(articles)
                articles_list = data[1].articles
                   console.log(articles_list)
                   $('#ul_news').empty()
                   for(i =0;i< articles_list.length;i++){
                       article = articles_list[i]
                       console.log(article.author)
                      _li = '<li>'+
                       '<img src="'+article.urlToImage+'" style="width: 50px; height: 50px">'+
                        '<h3 href="'+article.url+'">'+article.title+'</h3>'+
                        '<h6>'+article.description+'</h6>'+
                        '</li>'
                       
                       $('#ul_news').append(_li)
            
                   }
               }
               
           }else{
           alert("Oops! Something went wrong.");
           }
      });
      return false;
  }
    
    //Market Details
  function getmarketDetails(){
  asset_id = $('#btn_market').val()
    
      $.getJSON($SCRIPT_ROOT + '/market_details', {
        asset_id: asset_id
      }, function(data) {
           if( data[0].status =="success"){
           display = data[1].DISPLAY
           console.log(display[asset_id].USD)
               
           }else{
           alert("Oops! Something went wrong.");
           }
      });
      return false;
    
  }

//Prediction
 function getPrediction() {
      $.getJSON($SCRIPT_ROOT + '/prediction', {
        asset_id: $('#btn_prediction').val()
      }, function(data) {
           console.log(data)
      });
      return false;
    
  }


  function getMultipleSymbolPrice(){
      $.getJSON($SCRIPT_ROOT + '/multiple_symbol_price', {
        asset_id: $('#btn_prediction').val()
      }, function(data) {
          multiple_symbols_price_list = data[1]
           console.log(multiple_symbols_price_list)
          console.log(typeof multiple_symbols_price_list)
      });
      return false;
    
  }
     </script>

   </body>
</html>
